metrics_enabled: false
debug: true
graphite:
  host: carbon.hostedgraphite.com
  api_key: 7509c0ff-4db5-4cae-91ee-6e78ff13b336
  reporting_interval_in_seconds: 15
  include_metrics:
    - io.dropwizard
    - com.hello

max_records: 50

kinesis:
  endpoint : https://kinesis.us-east-1.amazonaws.com
  streams :
    logs : dev-logs

app_name: LogIndexerDev

dynamo_db:
  region: us-east-1
  default_endpoint: http://localhost:7777
  tables:
      alarm_info: alarm_info
      features : features
      ring_time_history: ring_history_by_account
      sense_events: sense_events
      worker_launch_history: worker_launch_history
  endpoints: {}

common_db:
  # the name of your JDBC driver
  driverClass: org.postgresql.Driver

  # the username
  user: your postgresql username

  # the password
  password: your postgresql password

  # the JDBC URL
  url: jdbc:postgresql://localhost:5432/[your postgresql database name]

  # any properties specific to your JDBC driver:
  properties:
    charSet: UTF-8

  # the maximum amount of time to wait on an empty pool before throwing an exception
  maxWaitForConnection: 1s

  # the SQL query to run when validating a connection's liveness
  validationQuery: "/* MyService Health Check */ SELECT 1"

  initialSize: 2

  # the minimum number of connections to keep open
  minSize: 2

  # the maximum number of connections to keep open
  maxSize: 8

  # whether or not idle connections should be validated
  checkConnectionWhileIdle: false

  # the amount of time to sleep between runs of the idle connection validation, abandoned cleaner and idle pool resizing
  evictionInterval: 10s

  # the minimum amount of time an connection must sit idle in the pool before it is eligible for eviction
  minIdleTime: 1 minute

segment_write_key: AnMchQr1VXQhPKjeYuoEEQ7pPRlow9SO
sqs_queue_sleep_score_push: https://sqs.us-east-1.amazonaws.com/053216739513/dev_sleep_score_push