debug: true
metrics_enabled: false
graphite:
  host: carbon.hostedgraphite.com
  api_key: 7509c0ff-4db5-4cae-91ee-6e78ff13b336
  reporting_interval_in_seconds: 30
  include_metrics:
    - io.dropwizard
    - com.hello

kinesis:
  endpoint : https://kinesis.us-east-1.amazonaws.com
  streams :
    sense_sensors_data : dev_sense_sensors_data

app_name: AlarmWorkerDev

max_records: 1000

maximum_record_age_minutes: 15

# Logging settings.
logging:
  level: INFO
  loggers:
    com.hello.suripu.workers: DEBUG
    com.hello.suripu.core: DEBUG
  appenders:
    - type: console
    # The timezone used to format dates. HINT: USE THE DEFAULT, UTC.
      timeZone: UTC

dynamodb:
  region: us-east-1
  default_endpoint: http://localhost:7777
  tables:
    alarm: alarm
    alarm_info: alarm_info
    features: features
    pill_data: pill_data
    ring_time: ring_time
    smart_alarm_log: smart_alarm_log
    timezone_history: timezone_history
  endpoints: {}

aggregate_window_size_min: 15

smart_alarm_process_ahead_in_minutes: 30

light_sleep_init_threshold: 0.2
