debug: true
metrics_enabled: false
graphite:
  host: carbon.hostedgraphite.com
  api_key: 7509c0ff-4db5-4cae-91ee-6e78ff13b336
  reporting_interval_in_seconds: 30
  include_metrics:
    - io.dropwizard
    - com.hello

common_db:
  # the serviceName of your JDBC driver
  driverClass: org.postgresql.Driver

  # the username
  user: jnorgan

  # the password
  password:

  # the JDBC URL
  url: jdbc:postgresql://localhost:5432/dump-2015-09-01

  # any properties specific to your JDBC driver:
  properties:
    charSet: UTF-8

kinesis:
  endpoint: https://kinesis.us-east-1.amazonaws.com
  streams:
      alarm_actions : dev_alarm_actions

app_name: AlarmActionsWorkerDev

max_records: 1000

maximum_record_age_minutes: 15

# Logging settings.
logging:
  level: INFO
  loggers:
    com.hello.suripu.workers: DEBUG
    com.hello.suripu.core: DEBUG
    is.hello.gaibu: DEBUG
  appenders:
    - type: console
    # The timezone used to format dates. HINT: USE THE DEFAULT, UTC.
      timeZone: UTC

dynamodb:
  region: us-east-1
  tables:
    alarm_info: alarm_info
    features: features
    pill_data: pill_data
    ring_time: ring_time
    smart_alarm_log: smart_alarm_log
    timezone_history: timezone_history
  endpoints:
    alarm_info: http://localhost:7777
    features: http://localhost:7777
    pill_data: http://localhost:7777
    ring_time: http://localhost:7777
    smart_alarm_log: http://localhost:7777
    timezone_history: http://localhost:7777

smart_alarm_process_ahead_in_minutes: 30

keys_management_service:
  endpoint: https://kms.us-east-1.amazonaws.com
  keys:
    token: arn:aws:kms:us-east-1:053216739513:key/9ab23bc3-1b49-4f02-a951-a9d97ca906bc # external app tokens

expansions:
  hue_app_name: sense-dev

redis:
  host: localhost
  port: 6379

